@model ehrmadesimple.Models.ClientInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>ClientInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientEmail" class="control-label"></label>
                <input asp-for="ClientEmail" class="form-control" />
                <span asp-validation-for="ClientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BdayMonth" class="control-label"></label>
                <input asp-for="BdayMonth" class="form-control" />
                <span asp-validation-for="BdayMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BdayDay" class="control-label"></label>
                <input asp-for="BdayDay" class="form-control" />
                <span asp-validation-for="BdayDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BdayYear" class="control-label"></label>
                <input asp-for="BdayYear" class="form-control" />
                <span asp-validation-for="BdayYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipStatus" class="control-label"></label>
                <input asp-for="RelationshipStatus" class="form-control" />
                <span asp-validation-for="RelationshipStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <input asp-for="EmploymentStatus" class="form-control" />
                <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyFname" class="control-label"></label>
                <input asp-for="EmergencyFname" class="form-control" />
                <span asp-validation-for="EmergencyFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyLname" class="control-label"></label>
                <input asp-for="EmergencyLname" class="form-control" />
                <span asp-validation-for="EmergencyLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyRelationship" class="control-label"></label>
                <input asp-for="EmergencyRelationship" class="form-control" />
                <span asp-validation-for="EmergencyRelationship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyEmail" class="control-label"></label>
                <input asp-for="EmergencyEmail" class="form-control" />
                <span asp-validation-for="EmergencyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyPhone" class="control-label"></label>
                <input asp-for="EmergencyPhone" class="form-control" />
                <span asp-validation-for="EmergencyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
